.lead__item {
  max-width: 80%;
  padding: 0 148px;
}



@media screen and (max-width: 1023px) {
  .lead__item {
    max-width: 90%;
    padding: 0 48px;

  }
}

@media screen and (max-width: 767px) {
  .lead__item {
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 319px) and (max-width: 424px) {

  .lead__item {
    padding: 0;
  }

}
