.footer__item {
  display: flex;
  column-gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 319px) and (max-width: 424px) {
  .footer__item {
    flex-direction: column;
    row-gap: 32px;
  }
}
