.place__title {
  max-width: 460px;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 1023px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 319px) and (max-width: 424px) {
  .place__title {
    font-size: 32px;
    padding-left: 16px;
  }
}