@media screen and (max-width: 1278.98px) {
  .lead__item {
    max-width: 100%;
    padding: 0 148px;

  }
}

@media screen and (max-width: 1023.98px) {
  .lead__item {
    max-width: 90%;
    /* padding: 0 48px; */
    padding-left: 48px;
    padding-right: 48px;

  }
}

@media screen and (max-width: 767.98px) {
  .lead__item {
    max-width: 100%;
    padding: 0;
  }
}

/* @media screen and (min-width: 319.98px) and (max-width: 424.98px) {
  .lead__item {
    padding: 0;
  }
} */
