.lead__item {
  max-width: 100%;
  margin: 0;
  padding: 0 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__item {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__item {
    padding: 0;
  }
}