.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 767px) {

  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-left: 24px;

  }

}

@media screen and (min-width: 319px) and (max-width: 424px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
    padding-left: 0;
    /* box-sizing: border-box;*/
  }

}
