.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .lead__title {
    max-width: 85%;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 18px;
  }
}
