.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 90%;
     line-height: 1.15;
  }
}

@media screen and (max-width: 319px) {
  .lead__title {
    max-width: 45%;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 18px;
  }
}
