.main {
  display: grid;
  grid-row-gap: 92px;
  flex-shrink: 0;
  margin: 56px 0 92px;
  /* внеш. отступ для основ. контента*/
}
@media screen and (max-width: 1024px) {
  .main {
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-bottom: 88px;
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    margin-bottom: 64px;
    grid-row-gap: 64px;
  }
}