.cover__subtitle {
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  margin: 0;
  z-index: 2;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}