.lead__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

 /* @media screen and (max-width: 1279px) {

  .lead__image {

  }

} */



/* @media screen and (max-width: 1023px) {

  .lead__image {
    width: 928px;
    height: 580px;
  }

}
 */


@media screen and (max-width: 767px) {
  .lead__image {
  transform: scaleX(1.1);
  }

}



@media screen and (min-width: 319px) and (max-width: 424px) {

  .lead__image {
    transform: scaleX(1.1);
  }

}
