.place__paragraph {
  grid-area: paragraph;
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
  box-sizing: border-box;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}