.footer__copyright {
  max-width: 186px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

/* @media screen and (max-width: 767px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1;
    max-width: 90%;
  }
} */
