.lead__subtitle {
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  /* or 120% */
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 60px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    /* max-width: 640px; */
    line-height: 1.1;
    /* max-width: 90%; */
    padding-top: 32px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead__subtitle {
    /* max-width: 288px; */
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
}