.cover {
  max-width: 1184px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 32px;
  position: relative;
  margin: 92px auto;
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 65px auto;
  }
}

@media screen and (max-width: 319px) {
  .cover {
    margin:0;
  }
}
