.cover {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 32px;
  position: relative;
  /* margin: 90px auto; */
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 100%;
    padding: 0;
  }
}

/* @media screen and (max-width: 767px) {
  .cover {
   padding: 0;
  }
} 

@media screen and (max-width: 319px) {
  .cover {
    padding: 0;
  }
} */