.place__image {
  grid-area: image;
  width: 80%;
  object-fit: cover;
}
@media screen and (max-width: 1279px) {
  .lead__image {
    width: 80%;
  }
}

@media screen and (min-width: 319px) and (max-width: 424px) {
  .photo__image {
    grid-row: auto;
  }
}
