@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../styles/blocks/page/page.css);
/*HEADER*/
@import url(../styles/blocks/header/header.css);
@import url(../styles/blocks/header/__logo/header__logo.css);
@import url(../styles/blocks/header/__link/header__link.css);
@import url(../styles/blocks/header/__lang-link/header__lang-link.css);

/*LEAD*/
@import url(../styles/blocks/lead/lead.css);
@import url(../styles/blocks/lead/__title/lead__title.css);
@import url(../styles/blocks/lead/__subtitle/lead__subtitle.css);
@import url(../styles/blocks/lead/__image/lead__image.css);
@import url(../styles/blocks/lead/_caption/lead__caption.css);
/*INTRO*/
@import url(../styles/blocks/intro/intro.css);
@import url(../styles/blocks/intro/__title/intro__title.css);
@import url(../styles/blocks/intro/__text/intro__text.css);
@import url(../styles/blocks/intro/__list/intro__list.css);
/*PHOTO*/
@import url(../styles/blocks/photo/photo.css);
@import url(../styles/blocks/photo/__grid/photo__grid.css);
@import url(../styles/blocks/photo/__image/photo__image.css);
/* PLACES */
@import url(../styles/blocks/places/places.css);
@import url(../styles/blocks/places/place/place.css);
@import url(../styles/blocks/places/place/__image/place__image.css);
@import url(../styles/blocks/places/place/__link/place__link.css);
@import url(../styles/blocks/places/place/__paragraph/place__paragraph.css);
@import url(../styles/blocks/places/place/__title/place__title.css);
@import url(../styles/blocks/places/place/__url-heading/place__url-heading.css);
@import url(../styles/blocks/places/place/__website/place__website.css);
/*COVER*/
@import url();

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url(../images/cover-trains.jpg);
  box-sizing: border-box;
  position: relative;
  margin: 92px auto;
  max-width: 1184px;
  min-height: 740px;
}

.cover::before {
  z-index: -1;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  /*для затемнения фона*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}




.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  z-index: 1;
  margin: 0;
  padding-bottom: 32px;

}

.cover__subtitile {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  margin: 0;
  z-index: 1;
}


.cover__overlay {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  min-height: 18px;
  padding: 0 48px 24px;


}


.footer_item {
  display: flex;
  column-gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
}

.footer__copyright {
  max-width: 186px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
