@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../styles/blocks/page/page.css);
/*HEADER*/
@import url(../styles/blocks/header/header.css);
@import url(../styles/blocks/header/__logo/header__logo.css);
@import url(../styles/blocks/header/__link/header__link.css);
@import url(../styles/blocks/header/__lang-link/header__lang-link.css);

/*LEAD*/
@import url(../styles/blocks/lead/lead.css);
@import url(../styles/blocks/lead/__title/lead__title.css);
@import url(../styles/blocks/lead/__subtitle/lead__subtitle.css);
@import url(../styles/blocks/lead/__image/lead__image.css);
@import url(../styles/blocks/lead/_caption/lead__caption.css);

/*INTRO*/
@import url(../styles/blocks/intro/intro.css);
@import url(../styles/blocks/intro/__title/intro__title.css);
@import url(../styles/blocks/intro/__text/intro__text.css);
@import url(../styles/blocks/intro/__list/intro__list.css);

.photo {
  padding-bottom: 92px;
  box-sizing: border-box;
}

.photo__grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.photo__image {
  width: 100%;
}
