.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  /* or 106% */
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  z-index: 3;
  margin: 0;
  justify-self: center;
  align-self: end;
  color: #fff;
  padding-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 560px;
    font-size: 6em;
    line-height: 1.09;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 319px) and (max-width: 424px) {
  .cover__title {
    max-width: 80%;
    font-size: 32px;
    line-height: 1.1;
    padding-bottom: 16px;
  }
} 
