.place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: repeat(460px, auto-fit);
  grid-template-areas:
    "title website"
    "image  paragraph";
    padding: 0 148px;
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(440px, auto-fit);
    grid-gap: 48px 32px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding: 36px 0;
    grid-template-columns: repeat(340px, auto-fit);
    grid-gap: 48px 28px;
  }
}


@media screen and (max-width: 424px) and (min-width: 319px) {
  .place {
    padding: 0;
    grid-template-columns: 1fr;
    /* grid-template-rows: minmax(1fr, 288px); */
    row-gap: 30px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
  }
}
