.place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: repeat(460px, auto-fit);
  grid-template-areas:
    "title website"
    "image  paragraph";
}

@media screen and (max-width: 1023.98px) {
  .place {
    grid-template-columns: repeat(440px, auto-fit);
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .place {
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(340px, auto-fit);
    grid-gap: 48px 28px;
  }
}


@media screen and (max-width: 424.98px) and (min-width: 319.98px) {
  .place {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 32px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
  }
}
