.photo__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  /*необходимо сделать адаптивным*/
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  grid-gap: 16px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 48px;
}
@media screen and (max-width: 1023px) {
 .photo__grid {
  grid-gap: 14px;
 }
}
@media screen and (max-width: 767px) {
 .photo__grid {
   padding: 0 24px;
 }
}

@media screen and (max-width: 319px) {
  .photo__grid {
    column-gap: 12px;
    padding: 0 16px;
  }
}
