.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

  @media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      row-gap: 48px;
      padding-left: 16px;
    }
  }