.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-self: flex-end;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding-left: 16px;
  }
}
