.place__paragraph {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding: 0;
}
